<!doctype html>
<html>
<head>
	<title>Login</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/global.css" rel="stylesheet">
	<link href="css/loginPage.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]--> 
	<script>
		(function(p,u,s,h,x){p.pushpad=p.pushpad||function(){(p.pushpad.q=p.pushpad.q||[]).push(arguments)};h=u.getElementsByTagName('head')[0];x=u.createElement('script');x.async=1;x.src=s;h.appendChild(x);})(window,document,'https://pushpad.xyz/pushpad.js');

		pushpad('init', 2978);
		pushpad('subscribe');
	</script>               
</head>

<body>
	<header id="main-nav-bar">
	</header>
	<div class="container">
		<div class="clearfix">
			<h2>Me How</h2>
			<h4>Please login with your name</h4>
				<div class="login-container">
		            <div class="avatar"></div>
		            <div id="loading" class="spinner"></div>
		            <div class="form-box">
		                <form action="http://google.com" method="">
		                    <input name="user" type="text" placeholder="name">
		                    <button class="btn btn-info btn-block login" name="login-submit" type="submit" onclick="">Login</button>
		                    <div id="output"></div>
		                </form>
	           		</div>
        		</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/loginPage.js"></script>
</body>
</html>