<!doctype html>
<html>
<head>
	<title>Entry</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/global.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->      
        <script>
		(function(p,u,s,h,x){p.pushpad=p.pushpad||function(){(p.pushpad.q=p.pushpad.q||[]).push(arguments)};h=u.getElementsByTagName('head')[0];x=u.createElement('script');x.async=1;x.src=s;h.appendChild(x);})(window,document,'https://pushpad.xyz/pushpad.js');
		pushpad('init', 2931);
		pushpad('subscribe', function (bool) { 
			if (bool) {
			} else {
				$("#unsubscribeButton").fadeOut();
			}
		});
	</script>  
</head>

<body>
	<header id="main-nav-bar">
		<a href="/index" id="back-button">
			<img src="images/back-icon-128.png" class="icon">
		</a>
	</header>
	<div class="container">

		<h2> Setting </h2>
		<div class="entry clearfix">
			<h4> My name is: </h4>
			<input type="text" name="fname" value={{loginName}}><br>
			<h4> first reminder: </h4>
			<input type="text" id="time1" data-format="HH:mm" data-template="HH : mm" name="datetime" value="08:00"><br>
			<h4> second reminder: </h4>
			<input type="text" id="time2" data-format="HH:mm" data-template="HH : mm" name="datetime" value="12:30"><br>
			<h4> third reminder: </h4>
			<input type="text" id="time3" data-format="HH:mm" data-template="HH : mm" name="datetime" value="19:00">
		</div>
		<div>
			<!-- <button id="subscribeButton" onclick="pushpad('subscribe'); alert('Subscribe Success!!'); console.log(isSubscribed);">Subscribe</button> -->
			<button class="btn btn-info btn-block" id="unsubscribeButton" onclick="pushpad('unsubscribe'); alert('Unsubscribe Success!!');$(this).fadeOut()">Unsubscribe</button>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/moment.js"></script> 
	<script src="js/combodate.js"></script>
	<script type="text/javascript" src="js/settingPage.js"></script>
</body>
</html>