#emojiTableAtAdd{
    width: 100%;
	border-radius: 25px;
    border: 2px solid #b3d9ff;
    padding: 20px;
    text-align: left;
    margin-bottom: 10px;
}

table td {
    text-align: center;
}

.selected {
	border-radius: 10px;
	border: 2px solid red;
}

.buttons {
	border-radius: 10px;
	border: 3px solid skyblue;
}

#textareaAtAdd {
	font-size: 15px;
}

.camera-modal-button {
    width: 45%;
    padding: 5px;
    background-color: #808080;
    font-size: 3vw;
}

#camera-canvas{
    width: 100%;
    height: auto;
}

.emoji_ADDPAGE {
    width: 80%;
    height: auto;
}