.emoji-table{
    width: 100%;
}

#edit-button {
	width: 72px;
	float: right;
}

.edit-text-entry {
	width: 100%;
	height: auto;
	resize: none;
	margin-top: 5px;
    overflow-y: auto;
	padding: 5px;
    font-size: 20px;
    /*font-size: 4vw;*/
}

.edit-text-entry[disabled] {
	background-color: #FFFFFF;
	border: none;
	color: #000000;
}

.inputShadow{
	box-shadow: 2px 2px 2px 0px #dddddd;
    border: 1px solid #000000;
}

.entry-img {
    width: 75%;
    margin: auto;
    display: block;
}

#file-input {
    display: none;
}

#delete-button {
	padding: 10px;
	background-color: #ff0000;
	margin-left: 10px;
	margin-bottom: 50px;
}

.audioButton{
	float: right;
	width: 15%;
	height: 15%;
}
/*.emoji{
	width:30px;
}*/
#entry-emoji{
	width: 20%;
	height: 20%;
}

.emojis{
	width:50px;
	height: 50px;
}
.emoji-block{
	width: 100%;
}