/* global css setting */
body {
    overflow-y: auto;
    padding-top: 72px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    background-color: #b3d9ff;
}

img {
    max-width: 100%;
    max-height: 100%;   
}

.icon1 {
    width: auto;
	padding: 10px;
}

.icon {
    width: 64px;
    padding: 10px;
}

.big-icon {
    width: 84px;
    padding: 5px;
}

.container {
	width: 100%;
	height: auto;/*100%;*/
	margin:0 auto;
	text-align: center;
}

.time-bar {
	font-size: 5vw;
	margin-top: 5px;
	display: inline-block;
    width: 100%;
}

.entry {
	border-radius: 25px;
    border: 2px solid #b3d9ff;
    padding: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.emoji-block {
	width: 20%;
	float: left;
}

.emoji {
	width: 100%;
}

.clearfix {
	clear: both;
}

.modal {
  	text-align: center;
  	padding: 0!important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-header {
    border-bottom: none;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.button-row {
	margin-top: 10px;
    text-align: center;
}

#save-button {
    height: 48px;
    margin-top: 4px;
	float: right;
    display: inline-block;
    cursor: pointer;
    z-index: 100;
}

#cancel-button {
    height: 48px;
    margin-top: 4px;
	float: left;
    display: inline-block;
    cursor: pointer;
    z-index: 100;
}

#main-nav-bar{
    z-index: 100
}

video {
    transform: rotateY(180deg);
}

.datetimeSelector {
    border-radius: 10px;
    border: 2px solid #b3d9ff;
    padding: 5px;
    overflow: hidden;
    text-align: center;
}